section#sky{
	height: 662px;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
	position: relative;
	box-shadow: 0px 0px  15px black;
	/*opacity: 0.4;*/
}
.sky_1{
	background: transparent url(../img/sky.png) no-repeat center center;
}
.sky_2{
	background: transparent url(../img/sky_2.png) no-repeat center center;
}
/*button#gplay {
	border: none;
	background-color: #1E90FF;
	color: #fff;
	font: 1.4em Tahoma;
	display: block;
	margin: 0px auto;
	position: relative;
	padding: 10px;
	text-transform: uppercase;
	top: -340px;
	width: 200px;
	-webkit-transition: all 0.5s;
			transition: all 0.5s;
}*/
button#gplay:hover {
	background-color: #87CEEB;
	color: #fff;
	cursor: pointer;
	-webkit-animation: 0.2s btnPlay ease-in-out infinite;
			animation: 0.2s btnPlay ease-in-out infinite;
}

div#hero {
	height: 70px;
	position: relative;
	left: 450px;
	top: 590px;
	width: 70px;
	-webkit-transition: all 0.1s;

/*		-webkit-animation: 1s Hero ease-in-out infinite;
				animation: 1s Hero ease-in-out infinite;*/
}

div#pl6,
div#pl5,
div#pl4,
div#pl3,
div#pl2,
div#pl1{
	width: 154px;
	height: 72px;
	position: relative;
	top: 295px;
	left: -154px;
}
div#pl4,
div#pl5,
div#pl6 {
	top: -210px;
	-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
}

.tip_hero{
	background: transparent url(../img/hero_1.png) no-repeat center center;
}
.hero_1{
	background: transparent url(../img/hero_1.png) no-repeat center center;
}
.hero_2{
	background: transparent url(../img/hero_2.png) no-repeat center center;
}
div.plane1 {
	background: transparent url(../img/plane1.png) no-repeat center center;
}
div.plane2 {
	background: transparent url(../img/plane2.png) no-repeat center center;
}
div.plane3 {
	background: transparent url(../img/plane3.png) no-repeat center center;
}
div.plane4 {
	background: transparent url(../img/plane4.png) no-repeat center center;
}
div.plane5 {
	background: transparent url(../img/plane5.png) no-repeat center center;
}

ul#lifetime{
	width: 164px;
	height: 48px;
	position: relative;
	top: -490px;
	padding: 0px;
	margin: 0px;
	left: 780px;
}
ul#lifetime li{
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	height: 48px;
	width: 52px;
}
li.extra_vida{
	position: relative;
	list-style: none;
	width: 53px;
	height: 48px;
	top: -370px;
	left: 800px;
}
.log_1{
	background: transparent url(../img/logo_superman.png) no-repeat center;
}
.log_2{
	background: transparent url(../img/logo_batman.png) no-repeat center;
}
div#level,
div#time{
	position: relative;
	top: -540px;
	left: 20px;
	font-family: tahoma;
	font-size: 1.4rem;
	color: black;
	margin-bottom: 5px;
}
div#level{ font-size: 1rem; }

@-webkit-keyframes btnPlay {
	0%, 100% {
		-webkit-transform: scale(1) rotate(0deg);
	}
	50% {
		-webkit-transform: scale(1.2) rotate(-5deg);
	}
}

@-webkit-keyframes Hero {
	0%,100%{ top: 560px;}
	50%{ top: 565px; }
}

/*------ Menu Principal -------*/
section#men{
	height: 662px;
	margin: 0 auto;
	width: 960px;
	position: absolute;
	top: 8px;
	left: 199px;
	box-shadow: 0px 0px  15px black;
	overflow: hidden;

	-webkit-transition: 3s all;

}
div#tit {
	position: absolute;
	top: 20px;
	left: 180px;
	font-family:  Tahoma;
	font-size: 4.5rem;
	text-align: center;
	color: white;

	-webkit-animation: 1s animTit ease-in-out infinite;
			animation: 1s animTit ease-in-out infinite;
}
div#big_tit {
	position: absolute;
	top: 80px;
	left: 180px;
	font-family:  Tahoma;
	font-size: 6rem;
	text-align: center;
	color: white;
	z-index: 10;

	-webkit-animation: 1s animTit ease-in-out infinite;
			animation: 1s animTit ease-in-out infinite;
}
div#adsi {
	position: absolute;
	top: 380px;
	left: 440px;
	font-family:  Tahoma;
	font-size: 6rem;
	text-align: center;
	color: white;
	z-index: 10;

	-webkit-animation: 1s animTit ease-in-out infinite;
			animation: 1s animTit ease-in-out infinite;
}
div.contenido{
	position: relative;
	top: 500px;
	left: 250px;
	width: 398px;
	height: 124px;
	background: #1E90FF url(../img/logos.png) no-repeat;
	z-index: 4;
	-webkit-transition: all 0.4s;

			-webkit-animation: 2s conte linear;
					animation: 2s conte linear;
}
div.heroes{
	position: relative;
	top: 130px;
	left: 200px;
	width: 222px;
	height: 350px;
	z-index: 1;
	display: inline-block;
		-webkit-transition: all 0.4s;
}
div#sup_1{
	left: 250px;
	width: 238px;
	height: 370px;
				-webkit-animation: 2s animBat linear;
						animation: 2s animBat linear;
}
div#sup_2{
				-webkit-animation: 2s animSup linear;
						animation: 2s animSup linear;
}
div#meta{
	position: absolute;
	border: 1px solid red;
	width: 960px;
	height: 30px;
}
.her2{
	background: transparent url(../img/bat_1.png) no-repeat;
}
.her1{
	background: transparent url(../img/sup_1.png) no-repeat;
}
div.subtit{
	position: absolute;
	left: 460px;
	font-family: Tahoma;
	font-size: 3rem;
	top: 80px;
	color: #1E90FF;
	z-index: 7;

		-webkit-animation: 1s animTit ease-in-out infinite;
				animation: 1s animTit ease-in-out infinite;
}
div#left{
	background: transparent url(../img/left.png) no-repeat;
	width: 739px;
	height: 662px;
}
div#right{
	background: transparent url(../img/right.png) no-repeat;
	position: relative;
	top: -662px;
	left: 274px;
	width: 686px;
	height: 662px;
}
div#her{
	background: transparent url(../img/right_1.png) no-repeat;
	position: relative;
	top: -662px;
	left: 275px;
	width: 686px;
	height: 662px;
	z-index: 5;
}
div.mn_1{
	background: transparent url(../img/menu_1.png) no-repeat;
	width: 278px;
	height: 110px;
	position: absolute;
	top: 300px;
	cursor: pointer;
	-webkit-transition: all 0.4s;

		-webkit-animation: 1s btns linear;
				animation: 1s btns linear;
}
div.mn_2{
	background: transparent url(../img/menu_2.png) no-repeat;
	width: 278px;
	height: 110px;
	position: absolute;
	top: 420px;
	cursor: pointer;

		-webkit-animation: 2s btns linear;
				animation: 2s btns linear;
}
div.mn_3{
	background: transparent url(../img/menu_3.png) no-repeat;
	width: 278px;
	height: 110px;
	position: absolute;
	top: 540px;
	cursor: pointer;
	-webkit-transition: all 0.4s;

		-webkit-animation: 3s btns linear;
				animation: 3s btns linear;
}
div.mn_2 h2,
div.mn_3 h1,
div.mn_1 h1{
	font-size: 3rem;
	font-family: Tahoma;
	color: white;
	margin: 25px 25px;
}
button#mn{
	position: absolute;
	top: 40px;
	left: 80px;
	padding: 7px;
	border: none;
	color: white;
	background-color: #1E90FF;
	cursor: pointer;
}
div.mn_1:hover{
	background: transparent url(../img/menu_1.2.png) no-repeat;
	color: black;
}
div.mn_2:hover{
	background: transparent url(../img/menu_2.1.png) no-repeat;
	color: black;
	width: 321px;
}
div.mn_3:hover{
	background: transparent url(../img/menu_3.1.png) no-repeat;
	color: black;
}
div#sup_1:hover{
	background: transparent url(../img/bat_1.1.png) no-repeat;
	z-index: 3;
	cursor: pointer;
}
div#sup_2:hover{
	background: transparent url(../img/sup_1.1.png) no-repeat;
	z-index: 3;
	cursor: pointer;
}
.he1{
	background: transparent url(../img/bat_1.1.png) no-repeat;
}
.he2{
	background: transparent url(../img/sup_1.1.png) no-repeat;
}

@-webkit-keyframes animTit {
	0%, 100% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
	}
}
@-webkit-keyframes btns {
	0%{
		left: -400px;
	}
	100% {
		left: 0px;
	}
}
@-webkit-keyframes animBat {
	0%{
		left: 700px;
	}
	100% {
		left: 250px;
	}
}
@-webkit-keyframes animSup {
	0%{
		left: 700px;
	}
	100% {
		left: 200px;
	}
}
@-webkit-keyframes conte {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
